SetEnv PHP_VER 5

AddOutputFilterByType DEFLATE text/html text/xml application/xml application/xhtml+xml text/plain application/javascript text/css

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]
